<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>galaxy</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="/bower_components/components-bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/components-bootstrap/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    <div id="container" class="container">
        <fieldset>
          <legend>Simulation Controls</legend>

          <p>
            <button type="button" ng-click="fullScreen()">Go full-screen</button>
            <button type="button" ng-click="reset()">Reset</button>
          </p>

          <p>Left-mouse to "Orbit", scroll to zoom</p>
        </fieldset>

        <div id="simulation" class="c-simulation"></div>
    </div>

    <!--[if lt IE 9]>
    <script src="/bower_components/es5-shim/es5-shim.js"></script>
    <script src="/bower_components/es5-shim/es5-sham.js"></script>
    <![endif]-->
    <script src="/bower_components/requirejs/require.js" data-main="js/main.js"></script>

  </body>
</html>
