<div class="jumbotron">
  <h1>Galaxy</h1>
  <p class="lead">
    <img src="images/logo.png" alt="Galaxy Simulation"><br>
    A simple Milky Way simulation.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="/#/simulation/">Let's see it!</a></p>
</div>

<div class="row marketing">
  <h4>Why?</h4>
  <p>
    Just wanted to practice and enhance my development skills and have some fun in the process.
  </p>

  <h4>What's it built using?</h4>
  <ul>
    <li>Yeoman Angular scaffold</li>
    <li>Twitter Bootstrap (SASS version)</li>
  </ul>

  <h4>Karma</h4>
  <p>Spectacular Test Runner for JavaScript.</p>
</div>